
.hero{
        background-image: url(../images/photo_2024-07-14_10-49-47.jpg);
      height: 100vh;
      text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.over{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 45%);
}
.hero h2{
        margin-top: 200px;
        margin-bottom: 20px;
}
.he{
        text-align: center;
}
.de{
        width: 200px;
        height: 300px;
        border: 1px solid;
        text-align: center;
        transition: .5s;
        border-radius: 10px;
}
.de:hover{
        background-color: gold;
}
.pe1{
        font-size: 30px;
        text-align: center;
}
 .container1 .dev{
height: 100px;
} 
.dev img{
        width: 90px;
        height: 80px;
      display: inline;
}
.h4{
        display: inline;
}
.pa{
        margin-left: 100px;
}
.imge{
        height: 100vh;
}
.di{
        width: 200px;
        height: 200px;
        border: 1px solid;
        background-color: red;
        position: absolute;
}
.p6{
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
}
.row3 .div-2{
width: 200px;
height: 50px;

}
textarea{
        margin-left: auto;
}
.row7 .div-1{
        width: 100px;
        height: 300px;
        border: 1px solid;
}
.hr{
        font-size: 30px;
}
.bute{
       margin-left: 70px;
       margin-top: 20px;
}
.pc1 , .pc2{font-size: 25px;
        text-align: center;
}

